<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
  <body style="background-color:  #ffbb99;">
    <h1 class="font-effect-outline">ABOUT US</h1>
    <ul class="nav" id = "nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notes">Notes</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/login">Log In</a>
      </li>
    </ul>
    <h4> WHO ARE WE?<h4>
    <p> We are a website created by a student from <a href = "https://www.meet.mit.edu/">meet.<a><p>

    <h4> WHAT IS OUR MISSION?<h4>
    <p>Make information accesable for everyone and making stduying an easier and more enjoyble process<p>

    
    <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</html>


