
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
  </head>
  
  <body style="background-color:  #ffbb99;">
  <h1 class="font-effect-outline">CREATE POST</h1>
  <ul class="nav" id = "nav" >
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/aboutus">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/notes">Notes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Log In</a>
    </li>
  </ul>

  <h2> POST <h2>
  <form action = "/post" method = "POST">
    <input type = "text" name = "text" placeholder="text. 70 char max." required maxlength="70">
       <select id="selector" name="topic"> 
          <option name = "topic" value = "Other">topic of post</option> 
          <option name = "topic" value = "Math">Math</option>
          <option name = "topic" value = "English">English</option>
          <option name = "topic" value = "History">History</option> 
          <option name = "topic" value = "Physics">Physics</option>      
          <option name = "topic" value = "Biology">Biology</option>
          <option name = "topic" value = "Chemistery">Chemistery</option> 
       </select>
     
     <br>
    <input type="Submit" value="Submit">
  </form>
    
    <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
  </body>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  

</html>


